/* Pei start*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

* {

  
  
  
}

html{
  background: url(../img/main-background.jpg) fixed;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'Carter One', cursive;
}

.header {
  font-family: 'Carter One', cursive;
  font-size: 70px;
  color: rgb(226, 236, 102);
  text-align: center;
  display: flex;
  padding-left: 390px;
  text-shadow: 4px 2px 3px#000;
}

.logo {
  margin-top: 10px;
  width: 300px;
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: -60px;
}

.txtlogo{
  margin-top: 160px;
}


.about {
  font-family: 'Carter One', cursive;
  font-size: 40px;
  margin-left: 3%;
  color: rgb(226, 236, 102);
}

.column {
  color: rgba(49, 28, 16);
  float: left;
  width: 30%;
  padding: 5px;
  margin-left: 1%;
  font-size: 22px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.h3Color {
  color: rgb(226, 236, 102);
}

footer {
  color: rgb(46, 32, 32);
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.brezel {
  padding: 10px;
  margin-top: 130px;
  width: 6%;
  height: 150px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.search-bar{
  justify-content:center;
  text-align: center;
  margin: 10px;
  border-radius: 18px;
  background-color: rgb(32, 32, 32, 0.3 );
  align-items: center;
  display: flex;
}

.search-bar div{
}

.search-bar h3{
  font-weight: 100;
  margin: 10px;
  color: aliceblue;
}

.serch-input{
  display: flex;
}

/* 
a {
  margin-left: 5%;
} */

/* Pei< */
.bier-img {
  box-shadow: -30px 20px 5px rgba(110, 78, 32, 0.411);
  border-radius: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}

div.productCard {
  border: 10px solid rgba(49, 28, 16, 0.664);
  border-radius: 50px;
  border-width: 10px;
  color: rgba(49, 28, 16);
}

.nav-bar {
  font-size: 30px;
  text-align: center;
}

#trolly-icon {
  text-shadow: 4px 2px 3px#000;
  font-size: 40px;
}

/* 
Pei Ends */


.products_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productCard {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(82, 71, 71);
  border-radius: 10px;
  padding: 0.5%;
  margin: 1%;
  font-size: 2em;
}

.productCard:hover {
    border: 3px solid black;
    transform: scale(1.1);
    transition: 0.5s all;

}

.bier-img {
  height: 410px;
  width: 330px;
}

.bier-name {
  margin: 0px;
  text-shadow: 1px 1px 2px white;
}

.bier-color {
  margin: 5px;
}

.bier-country {
  font-style: italic;
  margin: 0;
}

.shop-cart-btn {
  border: 2px solid #fff;
  text-shadow: 2px 2px 3px#000;
  color: aliceblue;
  font-size: 35px;
  border-radius: 18px;
  width: 330px;
  height: 48px;
  font-weight: 600;
  background-color: rgba(43, 203, 251, 0.6);
    
}
.shop-cart-btn:hover{
    background-color: rgba(83, 243, 136, 0.60);
    transition: 0.5s all;


}
