/* Pei start*/
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

html{
  background: url(../img/main-background.jpg) fixed;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'Carter One', cursive;
}

.header {
  padding-top:  25px;
  padding-left: 75px;
  text-align: center;
  text-align: center;
  display: flex;
}

.nav-bar {
  position: relative;
  z-index: 3;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.left a{
  padding: 10px 20px 10px 10px;
  margin-right: 20px;
  margin-top: 0px;
  color: rgb(251, 255, 30);
  text-shadow: 6px 1px 1px#000;
  border-radius: 0px 0px 20px 20px;
  border: 3px solid #fff;
  box-shadow: 4px 3px 1px#000;
  background-color: rgba(99, 175, 233, 0.7);
} 

.left a:hover{
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid rgb(251, 255, 30);
  transition: 0.5s all;
}

.right a {
  padding: 10px 20px 10px 10px;
  color: rgb(251, 255, 30);
  text-shadow: 6px 1px 1px#000;
  border-radius: 0px 0px 20px 20px;
  border: 3px solid #fff;
  box-shadow: 4px 3px 1px#000;
  background-color: rgba(99, 175, 233, 0.7);
}

.right a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid rgb(251, 255, 30);
  transition: 0.5s all;
}

.logo {
  padding-top: 8px;
  margin-right: -49px;
  margin-left: -35px;
  width: 350px;
}

.logo-container{
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: -60px;
}

.txtlogo{
  font-family: 'Carter One', cursive;
  font-size: 70px;
  color: rgb(226, 236, 102);
  margin-top: 50px;
  margin-bottom: 0px;

  text-shadow: 8px 3px 2px#000;
}


.brezel {
  padding: 10px;
  margin-top:50px;
  height: 100px;
}


.search-bar {
  margin: 25px 30px 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(43, 203, 251, 0.4);
}

.search-bar h3{
  font-size: 2em;
  font-weight: 100;
  margin: 10px 90px 10px 0px ;
  color: aliceblue;
  text-shadow: 4px 2px 3px#000;
}

.txt{
  margin: 15px 30px 20px 30px;
  color: #fff;
  text-shadow: 4px 2px 3px#000;
}
.search-bar input{
  font-style: italic;
  width: 300px;
  height: 40px;
  border-radius: 12px;
  font-size: 18px;
  padding-left:15px;
  border:0
}
.notFound{
  text-align: center;
  color: #fff;
  text-shadow: 4px 2px 3px#000;
}
.search-bar input:focus {
  border:0;
}

.search-bar button{
  color: #66666;
  font-size: 22px;
  width: 150px;
  margin-left: 20px;
  height: 40px;
  border-radius: 12px;
  border:0
}

.search-bar button:hover{
  background-color: #225594;
  color: #fff;
  font-size: 22px;
  width: 150px;
  margin-left: 20px;
  height: 40px;
  border-radius: 12px;
  border:0
}

.serch-input{
  display: flex;
}

/* 
a {
  margin-left: 5%;
} */

/* Pei< */


.about {
  font-family: 'Carter One', cursive;
  font-size: 40px;
  margin: 15px 30px 20px 30px;
  color: #fff;
  text-shadow: 4px 2px 3px#000;
}

.column {
  color: rgba(49, 28, 16);
  float: left;
  width: 30%;
  padding: 5px;
  margin-left: 1%;
  font-size: 22px;
}

.column, p {
  font-size: 18px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.h3Color {
  margin-top: -32px;
  color: #fff;
  text-shadow: 4px 2px 3px#000;
}

footer {
  align-items: center;

  justify-content: center;
  margin: 15px 30px 20px 30px;
  color: #fff;
  text-shadow: 4px 2px 3px#000;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 60px;
}

.img-card{
  text-align: center;
  background-color: #fff;
  border-radius: 35px;
  width: 100%;
}

.bier-img {
  margin-top: 5%;
  margin-bottom: 5%;
  max-height: 250px;
}

div.productCard {
  border: 10px solid rgba(49, 28, 16, 0.664);
  border-radius: 50px;
  border-width: 10px;
  color: rgba(49, 28, 16);
}

#trolly-icon {
  text-shadow: 4px 2px 3px#000;
  font-size: 40px;
}

/* 
Pei Ends */

.products_wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productCard {
  width: 18%;
  margin: 15px 15px 45px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(82, 71, 71);
  border-radius: 10px;
  padding: 25px;
  font-size: 2em;
}

.productCard:hover {
    border: 3px solid black;
    transform: scale(1.1);
    transition: 0.5s all;
    background-color: rgba(000, 000, 000, 0.2)
}



.bier-name {
  margin: 0px;
  text-shadow: 1px 1px 2px white;
}

.bier-color {
  text-shadow:none;
  font-size: 1.4rem;
  margin: 0px;
}

.bier-country {
  text-shadow:none;
  font-size: 1.4rem;
  font-style: italic;
  margin: 0px;
}

.bier-price {
  margin: 0px 0px 10px 0px;
  text-shadow:none;

}

.shop-cart-btn {
  border: 2px solid #fff;
  text-shadow: 2px 2px 3px#000;
  color: aliceblue;
  font-size: 35px;
  border-radius: 18px;
  width: 330px;
  height: 48px;
  font-weight: 600;
  background-color: rgba(43, 203, 251, 0.6);
    
}
.shop-cart-btn:hover{
    background-color: rgba(83, 243, 136, 0.60);
    transition: 0.5s all;
}

.shop-cart-btn-dlt{
  border: 2px solid #fff;
  text-shadow: 2px 2px 3px#000;
  color: aliceblue;
  font-size: 35px;
  border-radius: 18px;
  width: 330px;
  height: 48px;
  font-weight: 600;
  background-color: rgba(251, 50, 43, 0.6);
    
}
.shop-cart-btn-dlt:hover{
    background-color: rgba(253, 228, 5, 0.6);
    transition: 0.5s all;
}

input{
  outline: none 
}
button{
  outline: none 
}
